{% extends "register.html" %}
{% load static %}

{% block contenu %}
  <form class="form-control" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        {{ field.label_tag }} {{ field }}
        {% if field.errors %}
          <div class="text-danger">
            {{ field.errors }}
          </div>
        {% endif %}
      </div>
    {% endfor %}
    <input type="submit" value="Envoyer" class="appel">
  </form>
  {{ form.non_field_errors }}
{% endblock %}