{% extends "dashboard.html" %}

{% load static %}
{% block link %}   
  <link rel="stylesheet" href="{% static 'stats.css' %}">
{% endblock %}

{% block contents %} 

  <div class="flex flex-col items-center">
    {% for appel in appel_list %}
      <div class="table-container">
        <div class="table-title"> {{ appel.grouper }} </div>
        <table class="min-w-fit bg-white">
          <thead class="bg-[#6366f1]">
            <tr>
              <th> Enseignant </th>
              <th> Demande  </th>
              <th> Diplome </th> 
              <th> CV </th> 
              <th> action </th> 
            </tr>
          </thead>
          
          <tbody>
            {% for can in appel.list %}
              <tr>
                <td class="project-name"> {{ can.enseignant }} </td>
                <td> <a target="blank" href="{{ can.demande.url }}"> Voir </a> </td>
                <td> <a target="blank" href="{{ can.diplome.url }}"> Voir </a> </td>
                <td> <a target="blank" href="{{ can.cv.url }}"> Voir </a> </td>
                <td class="actions"> <a href="{% url 'recruit:evaluer' candidature_id=can.id %}">Evaluer</a> </td>
              </tr>
  
            {% endfor %}
  
          </tbody>
        </table>
      </div>
      {% empty %}
      Pas de candidatures
    {% endfor %}
  </div>


{% endblock %}
